body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #111827;
    margin-bottom: 5px; //
}

.subheader_text {
    font-size: 1.3em;       
    color: #555555;         
    margin-top: 0;          
    margin-bottom: 20px;    
    font-weight: normal;
}

.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;       
}
